.div{
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /10%);
    z-index: 10;
    color: black;
}
.Metle{
    color:black;
    
     margin-top: 25px;
     font-size: 40px;
     margin-left: 100px;
}
.nav{
    margin-left: 485px;
    margin-top: 10px;
}
.navigation-item {
   display: inline-flex;
   
}
.navigation-item a{
    text-decoration: none;
}
.a {
    color:black;
    padding: 10px;
    font-size: 14px;
}
.main-navigation{
    
}
.a:hover{
    color: pink;
}
.contakt-sar{
    text-align: center;
    margin-top: 180px;
}
.Contakt{
    font-size: 50px;
}
.con{
    font-size: 20px;
    margin-bottom: 100px;
}
.malumot{
    display: inline-flex;
    margin: 100px;
   
}
.bot{
    display: inline-block;
    
}
.home{
    display: inline-block;
    font-size: 20px;
    
}
.chiziq{
    display: inline-block;
    font-size: 20px;

}
.contak{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.malumot2{
    display: inline-flex;
    margin-left: 40px;
}
.email{
    margin: 0px;
}
.malumot1{
    width: 300px;
}
.m1 input{
   width: 400px;
   height: 30px;
   margin: 10px;
}
.m2 input{
    width: 400px;
    height: 145px;
    margin: 10px;
}
.con-but{
    margin-left: 220px;
    width: 200px;
    height: 70px;
    font-size: 19px;
    background-color: deepskyblue;
    border-radius: 10px;
}
.email{
    display: inline-flex;
    width: 300px;
}
.email-post{
    margin: 10px;

}
.email-post i{
    font-size: 30px;
}
.email-nomi{
    color: black;
}
.xa{
    margin-left: 140px;
}